@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Rubik:400,700');

$main-color: #FF8103;
$color2: #007DA7;
$color3: #01A8E9;
$color4: #094074;
$color5: #EC0821;
$color6: #9D9D9D;
$color7: #e0e0e0;
$color8: #f2f2f2;
$amarillo: #FFD15C;
$verde: #7ED321;
$rojo: #D0021B;


.gradient-orange{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9900+0,ec4e21+100 */
	background: rgb(255,153,0); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,153,0,1) 0%, rgba(236,78,33,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,153,0,1) 0%,rgba(236,78,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,153,0,1) 0%,rgba(236,78,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ec4e21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-blue{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c6997+0,094074+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007da7+0,094074+100 */
	background: rgb(0,125,167); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(0,125,167,1) 0%, rgba(9,64,116,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(0,125,167,1) 0%,rgba(9,64,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(0,125,167,1) 0%,rgba(9,64,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007da7', endColorstr='#094074',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.gradient-gray{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,222222+100 */
	background: rgb(85,85,85); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(85,85,85,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(85,85,85,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(85,85,85,1) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}




$gray: #9D9D9D;


$text-color: #3b4858;
$title-font: "Rubik";
$text-font: "Roboto";

$facebook: #3b5998;
$linkedin: #007bb5;
$google: #dd4b39;




// empieza aca

body{
    font-family: Roboto;
}
h1, h2, h3, h4{
    font-family: Rubik;
}


strong{
    font-weight: 600;
}




html, body{
    height: 100%;
}
#landing-minimal{
    display: flex;
    height: 100%;
    
   #landing-header{
        @extend .gradient-orange;
        color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        
      
        header{
            flex: 1;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column; 
            h1{
                margin: 0;
                padding: 0;
                font-size: 0;
            }

            ul{
                list-style: none;
                padding: 0;
                margin-top: 20px;
                font-size: 16px; 
                li{
                    margin-bottom: 20px;
                    display: flex;
                    ion-icon{
                        font-size: 30px;
                        margin-right: 10px;
                    }
                }
            }
           
        }
    }

    .account{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 30px;
        #login{
            form{
                padding: 10px 0;
            }
        }

        .create-account{
            text-align: center;
            .social-login{
                justify-content: center;
                display: flex;
                padding: 0;
                list-style: none;
                li{
                    width: 50px;
                    height: 50px;
                    background: red;
                    margin: 5px;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    ion-icon{
                        font-size: 25px;
                    }
                    &.linkedin{
                        background: $linkedin;
                    }
                    &.google{
                        background: $google;
                    }
                    &.facebook{
                        background: $facebook;
                    }
                }
            }
            .create-account-form{
                max-width: 400px;
                margin: auto;
            }
        }
        .create-company-account{
            height: 30px;
        }
    }


    @media (max-width:1200px){
        flex-direction: column;
        height: auto;

        #landing-header{
            padding: 30px;
            .logo{
                max-width: 120px;
            }

            h2{
                font-size: 22px;
                text-align: center;
            }
        }
    }
}

.landing-links{
    max-height: 50px;
    ul{
        display: flex;
        padding: 0;
        list-style: none;
        li{
            margin: 0 10px;
            font-size: 12px;
        }
    }
}


.web{
    display: inherit !important;
    @media (max-width: 1200px){
        display: none !important;
    }
}

.mobile{
    display: none !important;
    @media (max-width: 1200px){
        display: inherit !important;
    }
}